<div class="">
        <form [formGroup]="startGameForm" autocomplete="off" class="form">
    <ng-container *ngIf="!continue">
        
            <div class="">
                <label>Count Bots</label>
                <input appInputMask="integer" formControlName="countBots">
                <label class=""
                    *ngIf="this.startGameForm.get('countBots').touched && this.startGameForm.get('countBots').errors?.min">Minimum
                    value 1.</label>
                    <label class=""
                    *ngIf="this.startGameForm.get('countBots').touched && this.startGameForm.get('countBots').errors?.required">Inccorrect
                    value.</label>
                <button (click)="startGame()" class="" [disabled]="!startGameForm.valid">
                    <mat-icon class="icon">videogame_asset</mat-icon>
                    <h5> Start</h5>
                </button>
            </div>
        
    </ng-container>

    <ng-container *ngIf="continue">
        <div>
            <button [routerLink]="['/game/game-play']" class="">Continue</button>
        </div>
    
    </ng-container>
</form>
</div>