<div class="form-group">
  <mat-accordion multi="false" class="example-headers-align">
    <mat-expansion-panel *ngFor="let game of this.model?.games | paginate: { itemsPerPage: 10, currentPage: id}"
      (opened)="getDetailsGame(game.gameId)">
      <mat-expansion-panel-header class=" form-control">
        <mat-panel-title>
          <label>PointsBots:{{game?.countBots}}</label>
        </mat-panel-title>
        <mat-panel-description>
          <label for="">{{game?.dateTime | date: 'dd.MM.yyyy'}}</label>
          <ng-container *ngIf="!game.isWinner">
            <mat-icon class="lose">mood_bad</mat-icon>
          </ng-container>
          <ng-container *ngIf="game.isWinner">
            <mat-icon class="win">mood</mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <label>UserName : {{modelGame?.user?.name}}---></label>
      <label>Points : {{modelGame?.user?.points}}---></label>
      <img *ngFor="let card of modelGame?.user?.cards" src="../../../../assets/img/{{card?.rank}}_{{card?.suit}}.png"
        width="140" height="200">
      <div *ngFor="let bot of modelGame?.bots">
        <label>BotName : {{bot?.name}}---></label>
        <label>Points : {{bot?.points}}---></label>
        <img *ngFor="let cardBot of bot?.cards" src="../../../../assets/img/{{cardBot?.rank}}_{{cardBot?.suit}}.png"
          width="140" height="200">
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div>
    <pagination-controls (pageChange)="p[id] = changeCurrentPage($event)" class="text-center"></pagination-controls>
  </div>
</div>