<nav class="navbar navbar-dark bg-dark">

  <img src="../../../../assets/img/header.jpg">

  <ng-container *ngIf="isAuth">
    <mat-drawer-container class="example-container">
      <button [routerLink]="['/game/start-game']" mat-icon-button>
        <mat-icon>videogame_asset</mat-icon>
        <span>Game</span>
      </button>
      <button [routerLink]="['/history']" mat-icon-button>
        <mat-icon>history</mat-icon>
        <span>History</span>
      </button>
      <button (click)="this.accountService.logout()" mat-icon-button>
        <mat-icon>cancel</mat-icon>
        <span>Logout</span>
      </button>
    </mat-drawer-container>
  </ng-container>

</nav>