
img{
    max-width: 200px;
    max-height: 150px;
    margin: auto;
  }

.form {
    position: relative;
    z-index: 1;
    background: #cafafa;
    max-width: 50%;
    width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #bddae7;
    width: 100%;
    border: 0;
    margin: 0 auto 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
.form button {
  display: inline-block;
  width: 33%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(196, 40, 92);
    border: 0;
    padding: 5px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    margin:5px 5px 5px;
    cursor: pointer;
  }
.form button:hover,.form button:active,.form button:focus {
    background: rgb(211, 36, 36);
  }

.form label
{
  width: 100%;
  font-size: 20px;
}

@media (max-width: 550px) {
.form {padding-top: 0;}
.form button {
  display: block;
  width: 90%;
  margin: 5px auto;
}
.form img {
  max-width: 100px;
  max-height: 75px;
  margin: auto;
}
.form button:after {content: none;}
.form label {
  font-size: 12px;
    margin: 10px auto;
}
}
    