<app-menu></app-menu>
<form action="" class="form">
    <mat-accordion multi="false" class="example-headers-align">
      <mat-expansion-panel *ngFor="let game of model?.games | paginate: { itemsPerPage: 10, currentPage: id}"
        (opened)="getDetailsGame(game.gameId)">
        <mat-expansion-panel-header class="">
          <mat-panel-title>
            <label>PointsBots:{{game?.countBots}}</label>
          </mat-panel-title>
          <mat-panel-description>
            <label>{{game?.dateTime | date: 'dd.MM.yyyy'}}</label>
            <ng-container *ngIf="!game.isWinner">
              <mat-icon class="lose">mood_bad</mat-icon>
            </ng-container>
            <ng-container *ngIf="game.isWinner">
              <mat-icon class="win">mood</mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <label>UserName : {{modelGame?.user?.name}}</label>
        <label>Points : {{modelGame?.user?.points}}</label>
        <img *ngFor="let card of modelGame?.user?.cards" src="{{imgHref}}{{card?.rank}}_{{card?.suit}}.png">
        <div *ngFor="let bot of modelGame?.bots">
          <label>BotName : {{bot?.name}}</label>
          <label>Points : {{bot?.points}}</label>
          <img *ngFor="let cardBot of bot?.cards" src="{{imgHref}}{{cardBot?.rank}}_{{cardBot?.suit}}.png">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  
  <pagination-controls (pageChange)="p[id] = changeCurrentPage($event)" class="padding" maxSize="5" directionLinks="false"></pagination-controls>